{% extends 'base.html' %}

{% block title %} NBA Player介紹 {% endblock %}

{% block headmessage %}
    <h3>NBA球員列表</h3>
{% endblock %}

{% block content %}
    {% for i in post_list%}

    <div class="card  bg-light border-light mb-3">

            <!--根據在 urls.py 中設定的「name」值，找到對應的 URL-->
            <div style="font-size:20pt " class="card-header  bg-dark border-Primary">
                <a href="{% url 'post_detail' pk=i.pk %}"> {{i.title}}</a>
            </div>

            <div class="card-body text-info">
                {{i.body | truncatechars:100}}
            </div>

            <div class="card-footer text-info border-dark">
                張貼時間: {{i.post_date}}
            </div>

    </div> 

    {% endfor %}
{% endblock %}

